@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  background: #F7F9FC;
  color: #434a63;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
}

h2 {
  color: #5d647e;
  font-size: 24px;
  font-weight: 900;
}

h3 {
  color: #7ECE90;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.link {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  text-align: center;
}

.link:hover {
  color: #151615;
  text-decoration: underline;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.list-inline img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.list-inline img:hover {
  transform: scale(1.3) rotate(10deg);
  opacity: 0.8;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
